.header {
  background: rgb(255, 116, 163);
  background: linear-gradient(
    90deg,
    rgba(255, 116, 163, 1) 0%,
    rgba(73, 218, 239, 1) 100%
  );
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  height: 60px;
}
.headerInnder {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  margin: 0;
  font-size: 24px;
}
.headerIcon {
  display: flex;
  align-items: center;
  height: 28px;
  margin-left: 12px;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}
.headerIcon > img {
  margin-left: 12px;
  height: 100%;
}
.container {
  display: grid;
  grid-template-columns: 50% 50%;
}
.containerItem {
  padding: 12px 12px 0 12px;
  height: calc(80vh + 12px);
}
.containerItem + .containerItem {
  padding-left: 0;
  overflow: scroll;
}
.containerItem + .containerItem > pre {
  height: 100%;
}
.error {
  /* 100vh - header - editor-container */
  height: calc(100vh - 80vh - 96px);
  background-color: var(--vs-dark);
  grid-row: 2;
  grid-column: 1 / span 2;
  margin: 12px;
  padding: 12px;
  color: white;
  overflow: scroll;
}
